@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap");
:root {
	--ff-headings: "Young Serif", serif;
	--ff-body: "Outfit", sans-serif;
	--fw-headings: 400;
	--fw-body-400: 400;
	--fw-body-600: 600;
	--fw-body-700: 700;
	--clr-white: hsl(0, 0%, 100%);
	--clr-stone-100: hsl(30, 54%, 90%);
	--clr-stone-150: hsl(30, 18%, 87%);
	--clr-stone-600: hsl(30, 10%, 34%);
	--clr-stone-900: hsl(24, 5%, 18%);
	--clr-brown-800: hsl(14, 45%, 36%);
	--clr-rose-50: hsl(330, 100%, 98%);
	--clr-rose-800: hsl(332, 51%, 32%);
	--fs-body: 1rem;
}
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body,
html {
	background-color: var(--clr-stone-100);
	height: 100vh;
}
img {
	max-width: 100%;
	height: auto;
	border-radius: 10px;
}
.container {
	background-color: var(--clr-white);
	max-width: 700px;
	padding: 2rem;
	border-radius: 10px;
	margin: 2rem auto;
}
h1,
h3 {
	font-family: var(--ff-headings);
	font-weight: var(--ff-headings);
}
p,
ul,
ol,
table,
.attribution {
	font-family: var(--ff-body);
}
h1 {
	color: var(--clr-stone-900);
	line-height: 1.5;
	padding: 0.5em 0;
}
h3 {
	color: var(--clr-brown-800);
}
.dish-name > p {
	padding-bottom: 1em;
}
.prep-time {
	background-color: var(--clr-rose-50);
	padding: 1.5em;
	border-radius: 10px;
	margin: 1rem 0 1.5rem 0;
}
.prep-time h4 {
	color: var(--clr-rose-800);
	font-family: var(--ff-body);
	padding-bottom: 0.5em;
}
ul {
	list-style-type: none;
	padding: 0;
}
ul li {
	display: flex;
	align-items: center;
	line-height: 1.5;
}
ul li::before {
	content: "\2022";
	font-size: 1em;
	color: var(--clr-rose-800);
	margin-right: 1em;
	display: flex;
	align-items: center;
}
span {
	font-weight: var(--fw-body-600);
	margin-right: 0.2em;
	display: inline;
}
.ingredients ul {
	padding: 1rem 0 1.2rem 0;
}
.instructions,
.nutrition {
	padding: 1.2rem 0;
}
ol {
	counter-reset: item;
	padding: 1rem 0;
	list-style: none;
}
ol li {
	counter-increment: item;
	position: relative;
	padding: 0.5em 0 0 1.5em;
}
ol li::before {
	content: counter(item) ".";
	font-weight: var(--fw-body-700);
	color: var(--clr-rose-800);
	padding-right: 0.5em;
	position: absolute;
	left: 0;
}
table {
	width: 100%;
	border-collapse: collapse;
}
h3 + p {
	padding: 1em 0;
}
td {
	border-bottom: 1px solid #ccc;
	padding: 1em;
}
.measurements {
	font-weight: var(--fw-body-700);
	color: var(--clr-rose-800);
}
.attribution {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 1rem;
	padding-bottom: 2rem;
}
.attribution > div {
	padding-bottom: 0.5em;
}
.attribution a {
	color: var(--clr-rose-800);
	padding-left: 0.5em;
}

@media only screen and (max-width: 375px) {
	img {
		width: 100%;
		height: auto;
		border-radius: 0;
	}
	.container {
		padding: 0;
		margin: 0;
		max-width: 100%;
		border-radius: 0;
	}
	.recipe-page {
		padding: 2em;
	}
}
